extends layout
block content
  mixin sect(title, data)
    hr.hr
    p.has-text-weight-medium.is-size-5=title
    p=data
  include header
  section.section
    .container
      each doc in docs
        p.title=doc.title
        p=doc.author
        +sect('Abstract', doc.abstract)
        +sect('Publication', doc.pub_raw)
        +sect('Publication Date', doc.pubdate)
        +sect('Bibcode', doc.bibcode)
        hr.hr
        p.has-text-weight-medium.is-size-5 Links
          p.linklist
            a(href=`/search?q=citations(${doc.bibcode})&s=first_author asc`) Citations (#{doc.citation_count})
            a(href=`/search?q=references(${doc.bibcode})&s=first_author asc`) References
            a(href=`https://ui.adsabs.harvard.edu/link_gateway/${doc.bibcode}/ESOURCE`) Sources
        hr.hr
        p.has-text-weight-medium.is-size-5 Export
          p
            a(href=`/abs/${doc.bibcode}/export`) BibTeX
