extends layout
block content
  mixin sect(title, data)
    hr.hr
    p.has-text-weight-medium.is-size-5=title
    p=data
  include header
  section.section
    .container
      each doc in docs
        p.title=doc.title
        p=doc.author
        +sect('Abstract', doc.abstract)
        +sect('Publication', doc.pub_raw)
        +sect('Publication Date', doc.pubdate)
        +sect('Bibcode', doc.bibcode)
        hr.hr
        p.has-text-weight-medium.is-size-5 Links
          .columns
            .column
              a(href=`/search?q=citations(${doc.bibcode})&s=first_author asc`) Citations (#{doc.citation_count})
            .column
              a(href=`/search?q=references(${doc.bibcode})&s=first_author asc`) References
            .column
              a(href=`/abs/${doc.bibcode}/export`) BibTeX
        if sources.length > 0
          hr.hr
          p.has-text-weight-medium.is-size-5 Full text sources
            .columns
              each source in sources
                .column
                  a(href=`${source.url}`) #{source.link_type}

