<section class="section">
  <p class="is-5">
    <strong><%= numFound %></strong> records found
  </p>
  <hr class="hr">
  <div class="container">
    <% for (let doc of docs) { %>
      <a href="/abs/<%= doc.bibcode %>" class="box">
        <div class="media-content">
          <div class="content">
            <p>
              <div class="flex">
                <div class="w-25">
                  <%= doc.bibcode %>
                </div>
                <div class="w-25">
                  <%= doc.pubdate %>
                </div>
                <div class="w-25">
                  cited: <%= doc.citation_count %>
                </div>
              </div>
              <strong><%= doc.title %></strong>
              <br>
              <%= doc.author %>
            </p>
          </div>
        </div>
      </a>
    <% } %>
  </div>
</section>
